$appColor = #0084ff
$appColorRGB = 0,132,255
$pressColor = rgba($appColorRGB, .2)
$disableColor = rgba($appColorRGB, .1)
$linkColor = #476b95
$errorColor = #e64340
$borderColor = #f4f4f4
$iconColor = #8590a6

// textColor
$titleText = #000000
$mainText = #353535
$lessText = #888888
$infoText = #b2b2b2

// textSize
$titleSize = 17px
$subTitleSize = 14px

$articleToolHeight = 52px

// 水平垂直居中
flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
// 单行溢出省略号
text-ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

